<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="白文辉的个人博客主要用于分享技术，探索新知识，对自己及掌握的知识进行整理、归纳，不断提高，进步。">
    <meta name="keywords" content="白文辉,白文辉的技术整理,白文辉的博客,白文辉的个人博客,白文辉博客">
    <meta name="author" content="baiwenhui">
    <meta name="application-name" content="baiwenhui.com">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=56159075" charset="UTF-8"></script>
  </head>
  <body>
    <%- body %>
  </body>
  <script src="/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
