<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
  </head>
  <body>
    <%- body %>
  </body>
  <script src="/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
